/* you can add to or change this. */

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
}

.left {
  align-items: flex-start;
  background-color: aquamarine;
}

.game-area {
  width: 100vw;
  height: 100vh;
}

div.game-area {
align-self: center;
}

#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
  box-shadow: 5px 5px black;
}